body {
	background-color: var(--light);
	font-size: 16px;
}

/******* DASHBOARD ********/

.dashboard {
	display: grid;
	justify-content: center;
	align-items: center;
	background-color: lightyellow;
}
.dashboard__title {
	
}
.dashboard__components {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 65vh;
	width: 90vw;
	border: 2px solid black;
	gap: 5px;
}
.dashboard__component {
	width: 100%;
	height: 100%;
	border: 2px solid rgb(141, 138, 141);
}

/******* TO DO LIST ********/
.toDoList {
	overflow: scroll;
	height: 100%;
	background-color: rgb(191, 202, 188);
}
.toDoList__title {
	font-size: 1.5em;
	text-align: center;
	padding: 20px;
}
.toDoList__taskContainer {
	display: flex;
	text-decoration: none;
}
.toDoList__input {
	height: 35px;
	width: 210px;
	border-radius: 2px;
}
.toDoList__button {
	display: flex;
	justify-self: center;
	background: none;
	padding: 4px 10px 4px 10px;
	font-size: 1em;
	margin-left: 25%;
	margin-top: 5%;
	border-radius: 2px;
	color: white;
	background-color: rgb(33, 49, 46);
	margin-bottom: 10%;
}

.toDoList__task {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: beige;
	font-family: arial;
	font-size: 1.2em;
}

.toDoList__remove {
	background:none;
	border:none;
	cursor: pointer;
	background-color: beige;
}


.toDoList__remove::before {
	content: 'remove';
	font-size: 1em;

}